body {
  background-image: url(images/background_red.png);
  display: flex;
  justify-content: space-evenly;
  background-repeat: no-repeat;
  padding: 2%;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  background-size: contain;
  position: relative;
}

/*
 #                                                         
 #       ###### ###### #####    #####    ##   #####  ##### 
 #       #      #        #      #    #  #  #  #    #   #   
 #       #####  #####    #      #    # #    # #    #   #   
 #       #      #        #      #####  ###### #####    #   
 #       #      #        #      #      #    # #   #    #   
 ####### ###### #        #      #      #    # #    #   #   
                                                           
*/
button {
  font-size: 30px;
  background-color: rgb(42, 207, 207);
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}

@media (max-width: 400px) {
  button {
    font-size: 7px;
  }
}
.clignote {
  animation-name: btnClignote;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes btnClignote {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  background-color: rgb(226, 222, 222);
  border: 5px solid red;
}

h3 {
  font-size: 15px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

@media (max-width: 400px) {
  h3 {
    font-size: 8px;
  }
  h2 {
    font-size: 20px;
  }
}

#left_part {
  width: 20%;
  text-align: center;
}

#left_part div {
  display: flex;
  align-items: center;
}

#img_scoop {
  height: 15%;
}
@media (max-width: 400px) {
  #img_scoop {
    height: 7%;
  }
}

/*
 #     #    #    ### #     # 
 ##   ##   # #    #  ##    # 
 # # # #  #   #   #  # #   # 
 #  #  # #     #  #  #  #  # 
 #     # #######  #  #   # # 
 #     # #     #  #  #    ## 
 #     # #     # ### #     # 
                             
*/
#main {
  height: 90vh;
}

@media (max-width: 400px) {
  #main {
    height: 43vh;
  }
}

#main {
  width: 40%;
  background-size: cover;
  margin-top: 1%;
}

#main {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(13, 104, 104);
}

/* 
  #####                                                  
 #     # #    #  ####  #####  ####  #    # ###### #####  
 #       #    # #        #   #    # ##  ## #      #    # 
 #       #    #  ####    #   #    # # ## # #####  #    # 
 #       #    #      #   #   #    # #    # #      #####  
 #     # #    # #    #   #   #    # #    # #      #   #  
  #####   ####   ####    #    ####  #    # ###### #    # 
                                                         
 */

#to_serve {
  display: flex;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(images/background_to_serve.png);
  height: 100%;
}

#request {
  background-color: white;
  border: 3px solid rgb(13, 104, 104);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 260px;
  margin-top: 50px;
  padding-top: 10px;
  z-index: 1;
}

@media (max-width: 400px) {
  #request {
    width: 10px;
    height: 80px;
    z-index: 0;
    align-self: center;
    border-radius: 4px;
    margin: 0px;
  }
}

.newRequest {
  animation-name: newRequest;
  animation-duration: 2s;
}

.wrongAnswer {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
#customer {
  width: 30%;
  margin-left: 100px;
  margin-top: 90px;
  z-index: 0;
}

@media (max-width: 400px) {
  #customer {
    width: 30%;
    margin-left: 40px;
    margin-top: 0px;
    z-index: 0;
    align-self: flex-end;
    padding-bottom: 20px;
  }
}

@keyframes customerIn {
  0% {
    transform: translateX(30vw);
  }

  70% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes customerOut {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-30vw);
  }
}

#customer.customerIn {
  animation: customerIn 1s ease;
}

#customer.customerOut {
  animation-name: customerOut;
  animation-duration: 1s;
}

.requested_boule {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 400px) {
  .requested_boule {
    align-self: center;
    width: 10px;
    height: 10px;
  }
}
#request img {
  /*cone*/
  width: 30px;
}

@media (max-width: 400px) {
  #request img {
    width: 10px;
    z-index: 0;
    align-self: center;
    padding-bottom: 10px;
  }
}

@keyframes newRequest {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ol {
  list-style: none;
  transform: scaleY(-1);
  margin: 0px;
  padding: 0px;
  width: 50p;
}

@media (max-width: 400px) {
  ol {
    width: 10px;
  }
}
#request ol li {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

@media (max-width: 400px) {
  ol li {
    width: 100px;
    align-self: center;
  }
  #request ol li {
    width: 10px;
    height: 8px;
    padding-right: 10px;
  }
}

#request ol li:nth-child(1) {
  /* background-color: red; */
}

#request ol li:nth-child(2) {
  /* background-color: green; */
}

#request ol li:nth-child(3) {
  /* background-color: blue; */
}

#request ol li:nth-child(4) {
  /* background-color: grey; */
}

#request ol li:nth-child(5) {
  /* background-color: red; */
}

#request ol li:nth-child(6) {
  /* background-color: green; */
}

#request ol li:nth-child(7) {
  /* background-color: blue; */
}

li {
  list-style: none;
}

/* 
  #####                                                    
 #     #  ####  #    # #####  #####  ####  # #####  ###### 
 #       #    # ##  ## #    #   #   #    # # #    # #      
 #       #    # # ## # #    #   #   #    # # #    # #####  
 #       #    # #    # #####    #   #    # # #####  #      
 #     # #    # #    # #        #   #    # # #   #  #      
  #####   ####  #    # #        #    ####  # #    # ###### 
                                                           
 */

#tools {
  background-image: url(images/background_tools.png);
  background-size: cover;
  height: 45%;
  position: relative;
}

.icecream_container {
  width: 70px;
  border: 3px solid rgb(158, 136, 136);
  padding: 2px;
}

@media (max-width: 400px) {
  .icecream_container {
    height: 15px;
    width: 15px;
    padding: 1px;
  }
}

#icecream_pot div {
  text-align: end;
  margin: 10px;
}
#icecream_pot {
  padding-top: 50px;
  margin-top: 0px;
  margin-right: 20px;
  height: 400px;
}
@media (max-width: 400px) {
  #icecream_pot {
    padding: 5px;
    margin-right: 0px;
    padding-right: 0px;
  }
}

#ongoing_icecream {
  position: absolute;
  bottom: 5px;
  left: 60px;
  text-align: center;
}
@media (max-width: 400px) {
  #ongoing_icecream {
    left: 20px;
  }
}
.served_boule {
  width: 70px;
  padding: 0px;
  margin: 0px;
  animation-name: boule_tombe;
  animation-duration: 400ms;
}
@media (max-width: 400px) {
  .served_boule {
    width: 25px;
    margin-right: 30px;
  }
}
@keyframes boule_tombe {
  0% {
    margin-top: 1100%;
  }
  80% {
    margin-top: 80%;
  }
  100% {
    margin-top: 0%;
  }
}

ol {
  list-style: none;
  transform: scaleY(-1);
  margin: 0px;
  padding: 0px;
}

#ongoing_icecream ol li {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  padding-right: 25px;
}

#ongoing_icecream > img {
  height: 110px;
}

@media (max-width: 400px) {
  #ongoing_icecream > img {
    height: 45px;
  }
  #ongoing_icecream ol li {
    width: 20px;
    height: 16px;
  }
}
#ongoing_icecream ol li:nth-child(1) {
  /* background-color:  display: hidden; */
}

#ongoing_icecream ol li:nth-child(2) {
  /* background-color: green; */
}

#ongoing_icecream ol li:nth-child(3) {
  /* background-color: blue; */
}

#ongoing_icecream ol li:nth-child(4) {
  /* background-color: grey; */
}

#ongoing_icecream ol li:nth-child(5) {
  /* background-color: red; */
}

#ongoing_icecream ol li:nth-child(6) {
  /* background-color: green; */
}

#ongoing_icecream ol li:nth-child(7) {
  /* background-color: blue; */
}

/*
 ######                                                      
 #     # #  ####  #    # #####    #####    ##   #####  ##### 
 #     # # #    # #    #   #      #    #  #  #  #    #   #   
 ######  # #      ######   #      #    # #    # #    #   #   
 #   #   # #  ### #    #   #      #####  ###### #####    #   
 #    #  # #    # #    #   #      #      #    # #   #    #   
 #     # #  ####  #    #   #      #      #    # #    #   #   
*/
#right_part {
  width: 20%;
  text-align: center;
}

#right_part h2 {
  margin-bottom: 0px;
}
#logo {
  width: 90%;
  margin-bottom: 60px;
}
@media (max-width: 400px) {
  #logo {
    margin-bottom: 10px;
  }
}
h4 {
  font-size: 14px;
  text-align: left;
}
@media (max-width: 400px) {
  h4 {
    font-size: 4px;
  }
}
#right_part h3 {
  font-size: 15px;
  padding-bottom: 0px;
}
@media (max-width: 400px) {
  #right_part h3 {
    font-size: 10px;
  }
}
.score_round {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#memory {
  margin-top: 40px;
}

@media (max-width: 400px) {
  #memory {
    margin-top: 20px;
  }
}

/*
 ######                                     
 #     #   ##   #    # ###### #       ####  
 #     #  #  #  ##   # #      #      #      
 ######  #    # # #  # #####  #       ####  
 #       ###### #  # # #      #           # 
 #       #    # #   ## #      #      #    # 
 #       #    # #    # ###### ######  ####  
 */

#high_scores_panel {
  position: absolute;
  background: rgb(236, 226, 226);
  width: 50%;
  top: 30vh;
  z-index: 3;
  visibility: hidden;
  height: fit-content;
  border: 1px solid rgb(49, 40, 40);
}

@media (max-width: 400px) {
  #high_scores_panel {
    font-size: 5px;
    top: 20vh;
  }
}

#high_scores_panel th {
  padding-bottom: 30px;
}

@media (max-width: 400px) {
  #high_scores_panel th {
    padding-bottom: 10px;
  }
}

#high_scores_panel td {
  padding: 10px;
}
@media (max-width: 400px) {
  #high_scores_panel td {
    padding: 3px;
  }
}

#show_high_scores {
  font-size: 12px;
}

@media (max-width: 400px) {
  #show_high_scores {
    font-size: 5px;
    padding: 3px;
  }
}

#next_party_panel {
  position: absolute;
  background: rgb(236, 226, 226);
  width: 50%;
  top: 30vh;
  z-index: 3;
  visibility: hidden;
  height: 350px;
  line-height: 350px;
  border: 1px solid rgb(49, 40, 40);
  text-align: center;
  font-size: 20px;
}

@media (max-width: 400px) {
  #next_party_panel {
    font-size: 5px;
    padding: 3px;
    top: 20vh;
    height: 110px;
    line-height: 100px;
  }
}

#game_rules {
  position: absolute;
  background: rgb(236, 226, 226);
  width: 50%;
  top: 20vh;
  z-index: 3;
  visibility: visible;
  height: fit-content;
  border: 1px solid rgb(49, 40, 40);
  text-align: center;
  padding-top: 0%;
  font-size: 20px;
}

@media (max-width: 400px) {
  #game_rules {
    font-size: 7px;
    top: 7vh;
  }
}
