body {
  background-image: url(images/background_red.png);
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  background-size: cover;
}

/*
 #                                                         
 #       ###### ###### #####    #####    ##   #####  ##### 
 #       #      #        #      #    #  #  #  #    #   #   
 #       #####  #####    #      #    # #    # #    #   #   
 #       #      #        #      #####  ###### #####    #   
 #       #      #        #      #      #    # #   #    #   
 ####### ###### #        #      #      #    # #    #   #   
                                                           
*/
button {
  font-size: 30px;
  background-color: rgb(42, 207, 207);
  padding: 10px;
  font-family: "Press Start 2P", cursive;
}

.active {
  background-color: rgb(226, 222, 222);
  border: 5px solid red;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 40px;
  text-align: center;
}

#main {
  height: 90vh;
}

#main {
  background-image: url(images/background_beach.png);
  width: 40%;
  background-size: cover;
  margin-top: 1%;
}

#main {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(13, 104, 104);
}

#left_part div {
  display: flex;
  align-items: center;
}

#img_scoop {
  width: 80%;
  height: 60%;
}

#left_part {
  width: 20%;
  text-align: center;
}

/* 
  #####                                                  
 #     # #    #  ####  #####  ####  #    # ###### #####  
 #       #    # #        #   #    # ##  ## #      #    # 
 #       #    #  ####    #   #    # # ## # #####  #    # 
 #       #    #      #   #   #    # #    # #      #####  
 #     # #    # #    #   #   #    # #    # #      #   #  
  #####   ####   ####    #    ####  #    # ###### #    # 
                                                         
 */

#to_serve {
  display: flex;
  height: 40%;
  padding-left: 15%;
  width: fit-content;
  overflow: hidden;
}

#request {
  background-color: white;
  border: 3px solid rgb(13, 104, 104);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 220px;
  margin-top: 50px;
  padding-top: 10px;
  z-index: 1;
}

.wrongAnswer {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
#customer {
  width: 30%;
  margin-left: 100px;
  margin-top: 100px;
  z-index: 0;
}

@keyframes customerIn {
  0% {
    transform: translateX(30vw);
  }

  70% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes customerOut {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(-30vw);
  }
}

#customer.customerIn {
  animation: customerIn 1s ease;
}

#customer.customerOut {
  animation-name: customerOut;
  animation-duration: 1s;
}

.requested_boule {
  width: 30px;
  height: 30px;
  padding: 0px;
  margin: 0px;
}

#request img {
  /*cone*/
  width: 30px;
}

ol {
  list-style: none;
  transform: scaleY(-1);
  margin: 0px;
  padding: 0px;
  width: 50p;
}

#request ol li {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

#request ol li:nth-child(1) {
  /* background-color: red; */
}

#request ol li:nth-child(2) {
  /* background-color: green; */
}

#request ol li:nth-child(3) {
  /* background-color: blue; */
}

#request ol li:nth-child(4) {
  /* background-color: grey; */
}

#request ol li:nth-child(5) {
  /* background-color: red; */
}

#request ol li:nth-child(6) {
  /* background-color: green; */
}

#request ol li:nth-child(7) {
  /* background-color: blue; */
}

li {
  list-style: none;
}

/* 
  #####                                                    
 #     #  ####  #    # #####  #####  ####  # #####  ###### 
 #       #    # ##  ## #    #   #   #    # # #    # #      
 #       #    # # ## # #    #   #   #    # # #    # #####  
 #       #    # #    # #####    #   #    # # #####  #      
 #     # #    # #    # #        #   #    # # #   #  #      
  #####   ####  #    # #        #    ####  # #    # ###### 
                                                           
 */

#tools {
  display: flex;
  margin-top: 0px;
  height: 10%;
  padding: 0px;
}

.icecream_container {
  width: 20%;
  border: 3px solid rgb(158, 136, 136);
  padding: 2px;
}

#ongoing_icecream {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: fit-content;
}

#icecream_pot div {
  text-align: end;
  margin: 10px;
}
#icecream_pot {
  margin-top: 140px;
  margin-right: 20px;
}

.served_boule {
  width: 70px;
  padding: 0px;
  margin: 0px;
  animation-name: boule_tombe;
  animation-duration: 400ms;
}

@keyframes boule_tombe {
  0% {
    margin-top: 1100%;
  }
  80% {
    margin-top: 80%;
  }
  100% {
    margin-top: 0%;
  }
}

ol {
  list-style: none;
  transform: scaleY(-1);
  margin: 0px;
  padding: 0px;
}

#ongoing_icecream ol li {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  padding-right: 25px;
}

#ongoing_icecream > img {
  height: 110px;
}

#ongoing_icecream ol li:nth-child(1) {
  /* background-color:  display: hidden; */
}

#ongoing_icecream ol li:nth-child(2) {
  /* background-color: green; */
}

#ongoing_icecream ol li:nth-child(3) {
  /* background-color: blue; */
}

#ongoing_icecream ol li:nth-child(4) {
  /* background-color: grey; */
}

#ongoing_icecream ol li:nth-child(5) {
  /* background-color: red; */
}

#ongoing_icecream ol li:nth-child(6) {
  /* background-color: green; */
}

#ongoing_icecream ol li:nth-child(7) {
  /* background-color: blue; */
}

/*
 ######                                                      
 #     # #  ####  #    # #####    #####    ##   #####  ##### 
 #     # # #    # #    #   #      #    #  #  #  #    #   #   
 ######  # #      ######   #      #    # #    # #    #   #   
 #   #   # #  ### #    #   #      #####  ###### #####    #   
 #    #  # #    # #    #   #      #      #    # #   #    #   
 #     # #  ####  #    #   #      #      #    # #    #   #   
                                                             
*/
#right_part {
  width: 20%;
  text-align: center;
}

#right_part h3 {
  font-size: 15px;
}
#logo {
  width: 90%;
  margin-bottom: 70px;
}

h4 {
  font-size: 15px;
}

h4:nth-child(1) {
  padding-top: 50px;
}
